header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    flex: 1;/*vai pegar toda a largura disponivel*/
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

/*arrumando a imagem*/
.logo img {
    width: 3.2rem;
    height: 3.2rem;
}

.menu-opener{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
}

.menu-opener span {
    display: block;
    width: 2rem;
    height: 0.1rem;
    background-color: var(--primary);
}

header nav {
    display: none;/*esconder o menu mobile*/
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

/*arruma os links*/
header nav a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary);
}

@media (width > 600px){
    header {
        flex-direction: row;
    }
    .menu-opener { /*remover o menu mobile*/
        display: none;
    }
    header nav {
        display: flex;
        flex-direction: row;
    }
}